extends base.pug
block scripts 
    script(src='/static/index.js')

block style
    style 
        include ../static/style.css

block content
    section#introSection
      div Welcome to Aryan's Dance Academy
      div.small Eat Sleep Dance Repeat
    
    section#missionsSection
      h2 Our Mission
      div.card
        h3 Dance Perfection
        div.card-box
          div.card-img
            img(src="../static/img/1.png")
          div.card-content
            p This is the best dance academy of the Universe
      
      div.card
        h3 Dance the way you like
        div.card-box
          div.card-img
            img(src="../static/img/2.png")
          div.card-content
            p This is the best dance academy of the Universe
      div.card
        h3 Expert teaching
        div.card-box
          div.card-img
            img(src="../static/img/3.png")
          div.card-content
            p This is the best dance academy of the Universe
  
    section#sponsorsSection
      h2 Our Sponsors
      div#sponsors
        img(src="/static/img/l1.png", alt="Sponsor Image",class="spImage")
        img(src="/static/img/l2.png", alt="Sponsor Image",class="spImage")
        img(src="/static/img/l3.png", alt="Sponsor Image",class="spImage")
        img(src="/static/img/l4.png", alt="Sponsor Image",class="spImage")

    